body {
   background-color: rgb(0, 0, 0);
   
}
.center {
    text-align: center;
    padding: 20px;
}
.alinha {
    text-align:center
}
footer img {
    border-radius: 50%;
}
.logo {   
    text-align: center;
}
h1 {
     color: rgb(255, 253, 253);
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
main {
    color: rgb(255, 255, 255);
}
